body {
  margin: auto;
  /* width: 80%; */
  /* background-image: url('images/gradient.png'); */
  background-color: #12355B;
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #F5EFED;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  font-weight: 500;
}

/* Navbar */

.navbar-brand,
.nav-link {
  color: #FFB20F;
}

.bg-body-tertiary {
  background-color: #12355B !important;
}


/* Titulo */
header {
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 20rem;
  gap: 30px;

}

header div {
  text-align: center;
  margin-bottom: 2rem;
}

#titulo h2 {
  color: #068D9D;
}

img#foto-perfil {
  border-radius: 50%;
  height: 10rem;
  width: auto;
}

/* Sobre mi */

#acerca-de-mi main {
  margin: auto;
}

#acerca-de-mi {
  display: flex;
  flex-direction: column;
  background-color: #F5EFED;

}

#acerca-de-mi h2 {
  color: #12355B;
}

#acerca-de-mi p,
#acerca-de-mi h2 {
  width: 70%;
  margin: auto;
  text-wrap: pretty;
}

#acerca-de-mi p {
  text-align: justify;
}

/* Hobbies / Skills */

#hobbies-soft-skills {
  background-color: #068D9D;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hobbies-soft-skills h2 {
  text-align: center;
}

ul.skills-list,
ul.hobbies-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skills-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 250px;
  margin: auto;
  gap: 30px;
}

.hobbies-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 250px;
  margin: auto;
  gap: 30px;
}

.skills-list li:nth-child(4),
.skills-list li:nth-child(5),
.skills-list li:nth-child(6),
.skills-list li:nth-child(7) {
  margin-top: 15px;
}

.hobbies-list li:nth-child(4),
.hobbies-list li:nth-child(5),
.hobbies-list li:nth-child(6) {
  margin-top: 15px;
}



.skills-list li,
.hobbies-list li {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.skills-list span,
.hobbies-list span {
  margin-top: 15px;
  opacity: .8;
}

/* Formacion */

#formaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #068D9D;
}

#formaciones h2 {
  text-align: center;
  color: #F5EFED;

}

.formacion div {
  display: flex;
  flex-direction: column;
  margin: auto;
}

div.lista-formaciones {
  display: flex;
  justify-content: space-evenly;

}

div.formacion {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

div.formacion:nth-child(2),
div.formacion:nth-child(3) {
  margin-top: 4rem;
}

.formacion img {
  height: 3rem;
  width: auto;
  margin: auto;
  margin-bottom: 15px;
}

.formacion .periodo {
  opacity: .8;
}

/* Experiencia */

#experiencia {
  background-color: #F5EFED;
  color: #12355B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.proyectos {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 15px;
}


.card-img-top {
  height: 10rem;
  width: auto;
  object-fit: cover;

}

#experiencia p {
  opacity: .6;
}

.proyecto {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.repositorio,
.demo {
  font-weight: 500;
}

/* Contacto */

form {
  background-color: #068D9D;
  height: 35rem;
}

.inputs {
  margin: auto;
  width: 70%;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: #F5EFED;
  font-weight: 600;
}

@media (min-width: 820px) {
  body {
    width: 100%;
  }

  header {
    flex-direction: row;
    justify-content: space-evenly;

  }

  header div {
    text-align: start;
    margin-bottom: 0;
  }

  div.formacion:nth-child(2),
  div.formacion:nth-child(3) {
    margin-top: 0;
  }

  .skills-list,
  .hobbies-list {
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
  }

  .skills-list li:nth-child(n),
  .hobbies-list li:nth-child(n) {
    margin-top: 0;
  }
}

/* Estilos para pantallas grandes (más de 1200px) */
@media (min-width: 1200px) {
  body {
    width: 100%;
  }

  header {
    flex-direction: row;
    justify-content: space-evenly;
  }

  header div {
    text-align: start;
    margin-bottom: 0;
  }

  div.formacion:nth-child(2),
  div.formacion:nth-child(3) {
    margin-top: 0;
  }

  .skills-list,
  .hobbies-list {
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
  }

  .skills-list li:nth-child(n),
  .hobbies-list li:nth-child(n) {
    margin-top: 0;
  }

  .inputs {
    width: 50%;
  }
}