body {
  margin: auto;
  /* width: 80%; */
  /* background-image: url('images/gradient.png'); */
  background-color: #12355B;
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #F5EFED;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  font-weight: 500;
}

/* Navbar */

.navbar-brand,
.nav-link {
  color: #FFB20F;
}

.bg-body-tertiary {
  background-color: #12355B !important;
}


/* Titulo */
header {
  margin: auto;
  display: flex;
  height: 20rem;
  gap: 30px;
  align-items: center;
  justify-content: space-evenly;

}

#titulo h2 {
  color: #068D9D;
}

img#foto-perfil {
  border-radius: 50%;
  height: 7rem;
  width: auto;
}

/* Sobre mi */

#acerca-de-mi main {
  margin: auto;
}

#acerca-de-mi {
  display: flex;
  flex-direction: column;
  background-color: #F5EFED;

}

#acerca-de-mi h2 {
  color: #12355B;
}

#acerca-de-mi p,
#acerca-de-mi h2 {
  width: 70%;
  margin: auto;
  text-wrap: pretty;
}

/* Hobbies / Skills */

#hobbies-soft-skills {
  background-color: #068D9D;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hobbies-soft-skills h2 {
  text-align: center;
}

ul.skills-list,
ul.hobbies-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin-top: 50px; */
}

.skills-list li,
.hobbies-list li {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.skills-list span,
.hobbies-list span {
  margin-top: 15px;
  opacity: .8;
}

/* Formacion */

#formaciones {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #068D9D;
}

#formaciones h2 {
  text-align: center;
  color: #F5EFED;

}

div.lista-formaciones {
  display: flex;
  justify-content: space-evenly;

}

div.formacion {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

}

.formacion img {
  height: 3rem;
  width: auto;
  margin: auto;
  margin-bottom: 15px;
}

.formacion .periodo {
  opacity: .8;
}

/* Experiencia */

#experiencia {
  background-color: #F5EFED;
  color: #12355B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.proyectos {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 15px;
}


.card-img-top {
  height: 10rem;
  width: auto;
  object-fit: cover;

}

#experiencia p {
  opacity: .6;
}

.proyecto {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.repositorio,
.demo {
  font-weight: 500;
}

/* Contacto */

form {
  background-color: #068D9D;
  height: 35rem;
}

.inputs {
  margin: auto;
  width: 50%;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: #F5EFED;
  font-weight: 600;
}

/* @media (min-width: 834px) {
  body {
    width: 60%;
  }

  footer {
    text-align: left;
  }
} */