body {
  margin: auto;
  width: 80%;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

nav ul {
  display: flex;
  justify-content: end;
  gap: 15px;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

li#mail {
  font-weight: bold;
}

/* Titulo */
header {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-evenly;

}

img#foto-perfil {
  border-radius: 50%;
  height: 7rem;
  width: auto;
}

/* Sobre mi */

#acerca-de-mi {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



#acerca-de-mi p {
  text-wrap: pretty;
}

/* Hobbies / Skills */

#hobbies-soft-skills {
  margin-top: 50px;
}

#hobbies-soft-skills h2 {
  text-align: center;
}

#skills,
#hobbies {
  margin-top: 50px;
}

ul.skills-list,
ul.hobbies-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}

.skills li {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

/* Formacion */

#formaciones h2 {
  text-align: center;
  margin: 50px 0;
}

div.lista-formaciones {
  display: flex;
  justify-content: space-evenly;

}

div.formacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formacion img {
  height: 3rem;
  width: auto;
  margin-bottom: 15px;

}

/* Experiencia */

#experiencia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}


.proyecto {
  width: 50rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.experiencia-btn {
  border: 1px solid black;
  padding: 8px;
  border-radius: 10px;
}

.info-proyecto {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-wrap: wrap;
  width: 11rem;
}

.info-proyecto span {
  margin-top: 5px;
}

.links {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.img-proyectos {
  height: 10rem;
  width: 35rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(174, 163, 163);
  border-radius: 5px;

}

.img-proyectos img {
  width: 15rem;
  height: auto;
  border-radius: 10px;

  -webkit-box-shadow: 10px 10px 7px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 7px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 7px -3px rgba(0, 0, 0, 0.75);
}

#course-planner .img-proyectos img {
  width: 11rem;
  height: auto;
}


/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-top: 50px;

}

/* @media (min-width: 834px) {
  body {
    width: 60%;
  }

  footer {
    text-align: left;
  }
} */